<div class="header">
    <div class="header_name">メモアプリ</div>
</div>

<div class="container">
    <div class="form-items">
        <form method="post" action="/memos/<%= @index %>">
            <div class="form-items__item">
                <input type="text" name="title" value="<%=h @memo_title %>">
            </div>
            <div class="form-items__item">
                <textarea name="body"><%=h @memo_body %></textarea>
            </div>
            <div class="form-action">
            <input type="submit" value="変更">
            <input type="hidden" name="_method" value="patch">
            </div>
        </form>
    </div>
    <a class="return" href="/memos/<%= @index %>">戻る</a>
</div>
