<h1>メモアプリ</h1>

<form method="post" action="/edit/<%= @index %>">
    <p><input type= "text" name="title" value= <%= @memo_title %>></p>
    <p><textarea name="body"  ><%= @memo_body %></textarea></p>
    <input type="submit" value="変更">
    <input type="hidden" name="_method" value="patch">
    <a href="/show/<%= @index %>">戻る</a>
</form>
