<div class="header">
    <div class="header_name">メモアプリ</div>
</div>

<div class="container">
    <form method="post" action="/new">
        <div class="form-items">
            <div class="form-items__item">
                <input type="text" name="title">
            </div>
            <div class="form-items__item">
                <textarea name="body" style="height: 284px;"></textarea>
            </div>
        </div>
        <div class="form-action">
            <input type="submit" value="保存">
        </div>
    </form>
</div>
<a class="return" href="/">戻る</a>
