<h1>メモアプリ</h1>
<h2><%= @memo_title %></h2>
<p><%= @memo_body %></p>
<form method="post" action="/delete/<%= @index %>">
    <a href="/edit/<%= @index %>">編集</a>
    <button type="submit">削除</button>
    <input type="hidden" name="_method" value="delete">
</form>
<a href="/">戻る</a>
