<div class="header">
    <div class="header_name">メモアプリ</div>
    <a class=add href="/memos/new">追加</a>
</div>

<ul>
    <% @memos.each do |memo| %>
        <li><a href="/memos/<%= memo["memo_id"] %>"><%= h memo["title"] %></a></li>
    <% end %>
</ul>
