<div class="header">
    <div class="header_name">メモアプリ</div>
    <form class="add" method="get" action="/memos/new">
        <input type="submit" value="追加">
    </form>
</div>

<ul>
    <% @memos.each do |memo| %>
    <li><a href="/memos/<%= @memos.index(memo) %>"><%= h memo["title"] %></a></li>
    <% end %>
</ul>
